{% extends 'base.html.twig' %}

{% block title %}Administrateur
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row pb-5">
			<div class="col-12 text-center">
				<h1>Constructeurs</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-6 col-md-2">
				<div class="card border-0 text-center">
					<a href="{{path('manufacturer_new')}}" class="card-body">
						<div class="card-text">
							<i class="fi-xwsux4-plus-solid"></i>
						</div>
						<div class="card-text">
							Ajouter un constructeur
						</div>
					</a>
				</div>
			</div>
		</div>

		{% if cars|length > 0 %}
			<div class="row pt-5">
				<div class="col-12">
					<h3>Constructeurs
						<strong>Auto</strong>
					</h3>
				</div>
			</div>
			<div class="row align-items-center pt-3">
				{% for manufacturer in cars %}
					<div class="col-6 col-md-2">
						<button type="button" class="bg-transparent btn" data-toggle="tooltip" data-placement="bottom" title="{{manufacturer.name}}">
							<a href="{{path('manufacturer_show', {'slug': manufacturer.slug})}}" class=" my-3 border-0 text-center" title={{manufacturer.name}}>
								<img src="/uploads/logos/manufacturers/{{manufacturer.logo}}" class="img-fluid" alt="...">
							</a>
						</button>

					</div>
				{% endfor %}
			</div>
		{% endif %}


		{% if bikes|length > 0 %}
			<div class="row pt-5">
				<div class="col-12">
					<h3>Constructeurs
						<strong>moto</strong>
					</h3>
				</div>
			</div>
			<div class="row align-items-center pt-3">
				{% for manufacturer in bikes %}
					<div class="col-6 col-md-2">
						<button type="button" class="bg-transparent btn" data-toggle="tooltip" data-placement="bottom" title="{{manufacturer.name}}">
							<a href="{{path('manufacturer_show', {'slug': manufacturer.slug})}}" class=" my-3 border-0 text-center" title={{manufacturer.name}}>
								<img src="/uploads/logos/manufacturers/{{manufacturer.logo}}" class="img-fluid" alt="...">
							</a>
						</button>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if atvs|length > 0 %}
			<div class="row pt-5">
				<div class="col-12">
					<h3>Constructeurs
						<strong>quad</strong>
					</h3>
				</div>
			</div>
			<div class="row align-items-center pt-3">
				{% for manufacturer in atvs %}
					<div class="col-6 col-md-2">
						<button type="button" class="bg-transparent btn" data-toggle="tooltip" data-placement="bottom" title="{{manufacturer.name}}">
							<a href="{{path('manufacturer_show', {'slug': manufacturer.slug})}}" class=" my-3 border-0 text-center" title={{manufacturer.name}}>
								<img src="/uploads/logos/manufacturers/{{manufacturer.logo}}" class="img-fluid" alt="...">
							</a>
						</button>

					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if jets|length > 0 %}
			<div class="row pt-5">
				<div class="col-12">
					<h3>Constructeurs
						<strong>jets ski</strong>
					</h3>
				</div>
			</div>
			<div class="row align-items-center pt-3">
				{% for manufacturer in jets %}
					<div class="col-6 col-md-2">
						<button type="button" class="bg-transparent btn" data-toggle="tooltip" data-placement="bottom" title="{{manufacturer.name}}">
							<a href="{{path('manufacturer_show', {'slug': manufacturer.slug})}}" class=" my-3 border-0 text-center" title={{manufacturer.name}}>
								<img src="/uploads/logos/manufacturers/{{manufacturer.logo}}" class="img-fluid" alt="...">
							</a>
						</button>

					</div>
				{% endfor %}
			</div>
		{% endif %}


	</div>

{% endblock %}
