{% extends 'base.html.twig' %}

{% block title %}Manufacturer
{% endblock %}

{% block body %}
    <h1>{{manufacturer.name}}</h1>

    <div class="row">
        <div class="col">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('manufacturer_index') }}">back to list</a>
                <a class="btn btn-primary" href="{{ path('manufacturer_edit', {'slug': manufacturer.slug}) }}">edit</a>
                <a class="btn btn-primary" href="{{ path('model_new')}}">New</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            {{manufacturer.resume}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Modèles</h2>
        </div>
    </div>


    <div class="row">
        {% for model in manufacturer.models %}
            <div class="col-6 col-md-2">
                <a href="{{path('model_show', {'slug':model.slug})}}" class="card my-3 border-0 text-center" title={{model.name}}>
                    <div class="card">
                        <h3 class="card-body">
                            {{model.name}}
                        </h3>
                        <div class="card-text">{{model.resume}}</div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a href="{{path('model_edit', {'slug':model.slug})}}">Edit</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
