{% extends 'base.html.twig' %}

{% block title %}
	{% if title is defined %}
		{{title}}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container text-dark pt-5">
		<header class="row pt-5 align-items-center">
			<div class="col-12 text-light">
				<h1>
					Reprogrammation
					{{type}}
				</h1>
			</div>
		</header>
		<main class="row pt-5 align-items-center">
			<div class="col-12 text-light">
				<h2>Choix du constructeur</h2>
			</div>
			{% for manufacturer in manufacturers %}
				<div class="col-4 col-sm-3 col-md-2 col-lg-1-5 pt-3">
					<button type="button" class="bg-transparent btn" data-toggle="tooltip" data-placement="bottom" title="{{manufacturer.name}}">
						<a href="{{path('select_model', {'slug' : manufacturer.slug})}}">
							<img src="/uploads/logos/manufacturers/{{manufacturer.logo}}" width="" class="img-fluid p-0 mr-3" alt="...">
						</a>
					</button>
				</div>
			{% endfor %}
		</main>
		<div class="row pt-5 align-items-center">
			<div class="col-12">
				<ul class="list-inline">
					{% for manufacturer in manufacturers %}
						<li class="list-inline-item">
							<a class="lead" href="{{path('select_model', {'slug' : manufacturer.slug})}}">{{manufacturer.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	</div>
{% endblock %}
